nav{
    background-color:greenyellow;
    border: 5px solid;
    padding: 25px;
    width: 50%;
    
    
}
h1{
    background-color: aqua;
    border-style: dashed;
    border-color: crimson;
    margin: 50px;;
    padding: 6%;
    
}
img{ 
    width: 100%;
    height:auto;
    border-radius: 10px;
}
figcaption{
    font-style: oblique;
    font-size: smaller;
    text-align: end;
    text-shadow: 5px 5px 5px;
    line-height: 10px;
}
#pic{ 
    border: 2px solid blueviolet;
    box-shadow: 0 4px 4px red;
    border-radius: 10px;
    float: left;


}
h3{
    clear:both
}